<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" (click)="mostrarContenido('comunidades')"
              >Gestionar Comunidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="mostrarContenido('usuarios')"
              >Gestionar Usuarios</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="mostrarContenido('articulos')"
              >Gestionar Artículos</a
            >
          </li>
        </ul>
      </div>
  
      <div class="col-md-9 contenido">
        <div *ngIf="opcionSeleccionada === 'comunidades'">
          <h2>Gestionar Comunidades</h2>
          <table class="table mt-5">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comunidad of Comunidades">
                <td>{{ comunidad.nombre }}</td>
                <td>{{ comunidad.descripcion }}</td>
                <td>
                  <div class="button-container">
                    <button
                      class="btn btn-primary"
                      (click)="editComunidad(comunidad)"
                    >
                      Editar
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="deleteComunidad(comunidad)"
                    >
                      Eliminar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="opcionSeleccionada === 'usuarios'">
          <h2>Gestionar Usuarios</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th class="text-center">Email</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.correo }}</td>
                <td>
                  <div class="button-container">
                    <button
                      (click)="editarUsuario(usuario)"
                      class="btn btn-primary"
                    >
                      Editar
                    </button>
                    <span class="button-space"></span>
                    <button
                      (click)="eliminarUsuario(usuario)"
                      class="btn btn-danger"
                    >
                      Eliminar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="opcionSeleccionada === 'articulos'">
          <h2>Gestionar Artículos</h2>
          <table class="table mt-5">
            <thead>
              <tr>
                <th>Título</th>
                <th>Contenido</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let article of Articles">
                <td>{{ article.titulo }}</td>
                <td>{{ article.contenido| truncate : 150 }}</td>
                <td>
                  <div class="button-container">
                    <button
                      class="btn btn-primary"
                      (click)="editArticle(article)"
                    >
                      Editar
                    </button>
                    <button
                      class="btn btn-danger"
                      (click)="deleteArticle(article)"
                    >
                      Eliminar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  