<div class="container mt-5">
  <h2 class="text-center">Crear Usuario</h2>

  <!-- Botón de regresar -->
  <button
    *ngIf="esAdmin()"
    type="button"
    class="btn btn-secondary mb-3"
    [routerLink]="['/dashboard/admin']"
  >
    Regresar
  </button>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input
            type="text"
            [(ngModel)]="usuario.nombre"
            name="nombre"
            class="form-control"
            id="nombre"
            placeholder="Nombre"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo:</label>
          <input
            type="email"
            [(ngModel)]="usuario.correo"
            name="email"
            class="form-control"
            id="email"
            placeholder="Correo"
            required
          />
        </div>
        <div class="mb-3">
          <label for="contrasena" class="form-label">Contraseña:</label>
          <input
            type="password"
            [(ngModel)]="usuario.contrasena"
            name="contrasena"
            class="form-control"
            id="contrasena"
            placeholder="Contraseña"
            required
          />
        </div>
        <div class="mb-3" *ngIf="esAdmin()">
          <label for="rol" class="form-label">Rol:</label>
          <select
            id="rol"
            [(ngModel)]="usuario.rol"
            name="rol"
            class="form-control"
            required
          >
            <option value="vendedor">Vendedor</option>
            <option value="admin">Administrador</option>
          </select>
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
