<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4 col-12">
      <img src="{{ articulo.imagen }}" alt="" class="card-img img-fluid" />
    </div>
    <div class="col-md-8 col-12">
      <div class="card-body">
        <h5 class="card-title">{{ articulo.titulo }}</h5>
        <p class="card-text">{{ articulo.contenido }}</p>
        <p class="card-text">
          <small class="text-muted">Autor: {{ articulo.autor }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
