/* Limitar la altura de la descripción y agregar desbordamiento */
.card-text.description {
  max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
  overflow: hidden;
}

/* Estilo adicional para el autor */
.card-text.author {
  font-style: italic;
  color: #888; /* Puedes ajustar el color según tus preferencias */
}
.card-img-top.custom-image {
  width: 100%; /* Establece el ancho al 100% para que todas las imágenes tengan el mismo ancho */
  height: auto; /* Mantiene la proporción original de la imagen */
  max-height: 200px; /* Establece una altura máxima si lo deseas */
  object-fit: cover; /* Ajusta la imagen para llenar completamente el espacio */
}

