.custom-image {
  max-width: 100%; /* Establece un ancho máximo del 100% del contenedor */
  height: auto;    /* Mantiene la proporción de aspecto original */
}

  .card {
    width: 400px; /* Ancho fijo de la tarjeta */
    height: 400px; /* Alto fijo de la tarjeta */
    border: 1px solid #ccc; /* Borde opcional para resaltar las tarjetas */
    margin-bottom: 20px; /* Espaciado entre las tarjetas */
  }

