<div class="container mt-5">
  <h2>Crear Comunidad</h2>
  <form (submit)="createComunidad()">
    <div class="form-group col-md-6">
      <label for="titulo">Nombre:</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        [(ngModel)]="comunidad.nombre"
        name="titulo"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="contenido">Descripcion:</label>
      <textarea
        class="form-control"
        id="contenido"
        [(ngModel)]="comunidad.descripcion"
        name="contenido"
      ></textarea>
    </div>
    <div class="form-group col-md-6">
      <label for="autor">Creador:</label>
      <input
        disabled="true"
        type="text"
        class="form-control"
        id="autor"
        [(ngModel)]="nombreAutor"
        name="autor"
      />
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Subir Imagen</div>
            <div class="card-body">
              <input
                type="file"
                class="form-control"
                (change)="handleFileInput($event)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4" *ngIf="imageUrl">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Imagen Subida</div>
            <div class="card-body">
              <img [src]="imageUrl" alt="Imagen subida" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Crear</button>
  </form>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comunidad of userComunidades">
        <td>{{ comunidad.nombre }}</td>
        <td>{{ comunidad.descripcion }}</td>
        <td>
          <div class="button-container">
            <button class="btn btn-primary" (click)="editComunidad(comunidad)">
              Editar
            </button>
            <button class="btn btn-danger" (click)="deleteComunidad(comunidad)">
              Eliminar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
